注册登录
01.邮箱登录页
-12702219325
按钮“登录”→ 点击 → 转跳到“首页”

按钮“手机号”→ 点击 → 切换至“手机号登录页”

按钮“邮箱”→ 已在本页面，无点击反馈

按钮“Google”→ 点击 → 转跳到“Google登录页”

按钮“Facebook”→ 点击 → 转跳到“Facebook登录页”

按钮“Line”→ 点击 → 转跳到“Line登录页”

下拉按钮“语言”→ 点击 → 弹出“语言选择控件”

按钮“立即注册”→ 点击 → 转跳到“手机号注册页”

按钮“忘记密码”→ 点击 → 转跳“手机号-忘记密码页”

按钮“用户协议”→ 点击 → 转跳到“用户协议页”

按钮“隐私政策”→ 点击 → 转跳到“隐私政策页”

02.手机号登录页
-374651374775
按钮“登录”→ 点击 → 转跳到“首页”

按钮“手机号”→ 已在本页面，无点击反馈

按钮“邮箱”→ 点击 → 切换至“邮箱登录页”

按钮“Google”→ 点击 → 转跳到“Google登录页”

按钮“Facebook”→ 点击 → 转跳到“Facebook登录页”

按钮“Line”→ 点击 → 转跳到“Line登录页”

下拉按钮“语言”→ 点击 → 弹出“语言选择控件”

按钮“立即注册”→ 点击 → 转跳到“手机号注册页”

按钮“忘记密码”→ 点击 → 转跳“手机号-忘记密码页”

按钮“用户协议”→ 点击 → 转跳到“用户协议页”

按钮“隐私政策”→ 点击 → 转跳到“隐私政策页面”

下拉按钮“国家/区号”→ 点击 → 弹出“国家区号选择控件”

03.其他登录方式
18326101358900-133351358900    
Google登录页               Facebook登录页              Line登录页

819151358900

04.登录-下拉选择控件
18326101358900-133351358900  

语言选择控件               国家区号选择控件

06.手机号注册页
-374651374775
按钮“注册”→ 点击 → 完成手机账号注册

按钮“手机号”→ 已在本页面，无点击反馈

按钮“邮箱”→ 点击 → 切换至“邮箱注册页”

按钮“用户协议”→ 点击 → 转跳到“用户协议页”

按钮“隐私政策”→ 点击 → 转跳到“隐私政策页面”

下拉按钮“语言”→ 点击 → 弹出“国家区号选择控件”

按钮“返回”→ 点击 → 返回上一页

07.邮箱注册页
-374651374775
按钮“注册”→ 点击 → 完成邮箱账号注册

按钮“手机号”→ 点击 → 切换至“手机号注册页”

按钮“邮箱”→ 已在本页面，无点击反馈

按钮“用户协议”→ 点击 → 转跳到“用户协议页”

按钮“隐私政策”→ 点击 → 转跳到“隐私政策页面”

下拉按钮“语言”→ 点击 → 弹出“国家区号选择控件”

按钮“返回”→ 点击 → 返回上一页

08.手机号-忘记密码页
-374651374775
按钮“修改密码”→ 点击 → 完成手机账号密码修改

按钮“手机号”→ 已在本页面，无点击反馈

按钮“邮箱”→ 点击 → 切换至“邮箱-忘记密码页”

下拉按钮“语言”→ 点击 → 弹出“国家区号选择控件”

按钮“返回”→ 点击 → 返回上一页

09.邮箱-忘记密码页
-374651374775
按钮“修改密码”→ 点击 → 完成邮箱账号密码修改

按钮“手机号”→ 点击 → 切换至“手机号-忘记密码页”

按钮“邮箱”→ 已在本页面，无点击反馈

按钮“返回”→ 点击 → 返回上一页

首页
01.首页
020955
按钮“首页”→ 已在本页面，无点击反馈

按钮“订单”→ 点击 → 切换至“我的订单”

按钮“消息”→ 点击 → 切换至“消息列表”

按钮“我的”→ 点击 → 转跳到“我的”

快捷入口“商品”→ 点击 → 转跳到“商品列表页”

快捷入口“酒店”→ 点击 → 转跳到“酒店列表页”

快捷入口“机票”→ 点击 → 转跳到“机票预订页”

首页精选推荐列表→ 点击 → 转跳到“商家详情页”

按钮“地址”→ 点击 → 转跳到“我的地址”

按钮“国家”→ 点击 → 转跳到“选择国家页”

首页搜索栏→ 搜索 → 转跳“搜索结果页”

02.商品列表页
019050
商品列表→ 点击 → 转跳到“商家详情页”

下拉按钮“排序”→ 点击 → 弹出“商品列表排序控件”

下拉按钮“筛选”→ 点击 → 弹出“价格筛选控件”

商品列表页搜索栏→ 搜索 → 对商品列表进行筛选

按钮“返回”→ 点击 → 返回上一页

03.商家详情页
076200
按钮“联系商家”→ 点击 → 转跳到“聊天页”

选项卡按钮“点菜”→ 点击 → 选项卡切换至“点菜”列表

选项卡按钮“评价”→ 点击 → 选项卡切换至“评价”列表

“菜单”目录控件→ 点击 → 切换至对应的目录中的商品列表

“商品”→ 点击 → 转跳到“商品详情”

65405432435按钮“+”→ 点击 → 增加商品至购物车

按钮“购物车”→ 点击 → 弹出“购物车”控件

按钮“去结算”→ 点击 → 转跳到“确认订单页”

控件“筛选”→ 点击 → 对评价列表进行筛选

04.商品详情页
038100
按钮“+”→ 点击 → 增加商品至购物车

按钮“购物车”→ 点击 → 弹出“购物车”控件

按钮“去结算”→ 点击 → 转跳到“确认订单页”

按钮“查看更多”→ 点击 → 转跳到“评价列表页”

快捷入口“商品”→ 点击 → 转跳到“商品列表页”

按钮“返回”→ 点击 → 返回上一页

05.购物车弹窗
055245
按钮“+-”→ 点击 → 增加商品至购物车或者移除商品出购物车

按钮“去结算”→ 点击 → 转跳到“确认订单页”

按钮“X”→ 点击 → 关闭“评购物车弹窗”

06.确认订单页
038100
卡片“地址”→ 点击 → 转跳到“我的地址”

按钮“提交订单”→ 点击 → 转跳到“订单详情页”

按钮“返回”→ 点击 → 返回上一页

07.确认订单页
038100
左上角“状态”→ 提示订单状态

按钮“复制”→ 点击 → 复制“订单编号”

卡片“商家信息”→ 点击 → 转跳到“商家详情页”

按钮“联系商家”→ 点击 → 转跳到“聊天页”

按钮“修改收货地址”→ 点击 → 转跳到“我的地址”

按钮“支付订单”→ 点击 → 弹窗“确认金额”

按钮“找人代付”→ 点击 → 弹窗“链接分享弹窗”

按钮“取消订单”→ 点击 → 取消当前订单

08.酒店列表页
076200
酒店列表→ 点击 → 转跳到“酒店详情页”

下拉按钮“排序”→ 点击 → 弹出“酒店列表排序控件”

酒店列表页搜索栏→ 搜索 → 对酒店列表进行筛选

按钮“地址”→ 点击 → 转跳到“我的地址”

按钮“返回”→ 点击 → 返回上一页

09.酒店详情页
038100
按钮“拨打电话”→ 点击 → 拨打酒店电话

日期列表→ 选择对应日期

房型卡片→ 按钮“预订”→ 点击 → 转跳到对应的“酒店预订页”

按钮“立即预订”→ 点击 → 转跳到今日最低价房型的“酒店预订页”

按钮“返回”→ 点击 → 返回上一页

10.酒店预订页
038100
按钮“提交订单”→ 点击 → 转跳到“订单详情页”

“日期”输出框→ 点击 → 弹出“日期选择控件”

按钮“返回”→ 点击 → 返回上一页

11.酒店订单详情
038100
卡片“订单状态”→ 提示订单状态

卡片“酒店”→ 点击 → 转跳到“酒店详情页”

按钮“支付订单”→ 点击 → 弹窗“确认金额”

按钮“找人代付”→ 点击 → 弹窗“链接分享弹窗”

按钮“取消订单”→ 点击 → 取消当前订单

按钮“返回”→ 点击 → 返回上一页

订单
01.我的订单页
-5969019050
按钮“首页”→ 点击 → 切换至“我首页”

按钮“订单”→ 已在本页面，无点击反馈

按钮“消息”→ 点击 → 切换至“消息列表”

按钮“我的”→ 点击 → 转跳到“我的”

我的订单列表状态“筛选”控件→ 点击 → 切换不同状态的列表

卡片“订单”→ 点击 → 转跳到“订单详情页”

按钮“支付凭证”→ 点击 → 弹出“支付凭证”弹窗

按钮“发货详情”→ 点击 → 弹出“发货详情”弹窗

按钮“去评价”→ 点击 → 弹出“发货详情”弹窗

02.我的订单-弹窗
18326101358900-133351358900  

语言选择控件               国家区号选择控件

03.评价也
076200
“评分”控件→ 拖动 → 对产品进行评分

按钮“添加图片”→ 点击 → 打开相册进行图片选择

按钮“提交评价”→ 点击 → 完成对订单的评价

按钮“返回”→ 点击 → 返回上一页

消息
01.消息列表
-95250114935
按钮“首页”→ 点击 → 切换至“首页”

按钮“订单”→ 点击 → 切换至“订单”

按钮“消息”→ 已在本页面，无点击反馈

按钮“我的”→ 点击 → 转跳到“我的”

卡片“消息”→ 点击 → 转跳到“聊天页”

按钮“设置”→ 点击 → 转跳到“聊天背景设置”

02.聊天页
076200
左下角“+”→ 点击 → 弹出“聊天功能弹窗”

按钮“发送”→ 点击 → 发送消息

按钮“设置”→ 点击 → 转跳到“聊天背景设置”

按钮“返回”→ 点击 → 返回上一页

我的
-8318542545001.我的
卡片“个人信息”→ 点击 → 转跳到“个人信息页”

按钮“充值”→ 点击 → 转跳到“充值页”

按钮“提现”→ 点击 → 转跳到“提现页”

卡片“我的订单”→ 点击 → 转跳到“我的订单页”

按钮“交易记录”→ 点击 → 转跳到“交易记录页”

按钮“我的评价”→ 点击 → 转跳到“评价列表页”

按钮“联系客服”→ 点击 → 转跳到“聊天页”

按钮“收款信息”→ 点击 → 转跳到“收款信息页”

按钮“收货地址”→ 点击 → 转跳到“我的地址”

按钮“修改提现密码”→ 点击 → 转跳到“修改提现密码页”

按钮“修改密码”→ 点击 → 转跳到“修改密码页”

按钮“代理”→ 点击 → 转跳到“代理页”

选项“帮助中心”→ 点击 → 转跳到“帮助中心页”

选项“公司资质”→ 点击 → 转跳到“公司资质页”

选项“产品/服务介绍”→ 点击 → 转跳到“产品/服务介绍页”

选项“退款政策”→ 点击 → 转跳到“退款政策页”

选项“切换语言”→ 点击 → 弹出“语言选择控件”

选项“退出登录”→ 点击 → 退出账号

02.聊天页
-59690113030
头像→ 点击 → 打开相册

选项“性别”→ 点击 → 弹出“性别选择控件”

选项“生日”→ 点击 → 弹出“日期选择控件”

选项“换绑账号”→ 点击 → 转跳到“换绑账号页”

选项“修改密码”→ 点击 → 转跳到“修改密码页”

选项“修改提现密码”→ 点击 → 转跳到“修改提现密码页”

选项“修改实名信息”→ 点击 → 转跳到“修改实名信息页”

选项“切换国家”→ 点击 → 转跳到“选择国家页”

选项“删除账号”→ 点击 → 弹出“确认删除账号弹出 ”

03.换绑账号页-手机账号换绑
-59690113030
选线“手机注册”→ 已在本页面，无点击反馈

选项“邮箱注册”→ 点击 → 切换至“换绑账号页-邮箱注册”

下拉按钮“国家/区号”→ 点击 → 弹出“ HYPERLINK \l "_04.登录-下拉选择控件" 国家区号选择控件”

按钮“手机号”→ 点击 → 切换至“手机号换绑手机号”

按钮“邮箱”→ 点击 → 切换至“手机号换绑邮箱”
301625325120
按钮“换绑账号”→ 点击 → 完成换绑账号操作

按钮“返回”→ 点击 → 返回上一页

04.换绑账号页-邮箱账号换绑
-59690113030
选线“手机注册”→ 点击 → 切换至“换绑账号页-手机注册”

选项“邮箱注册”→ 已在本页面，无点击反馈

按钮“手机号”→ 点击 → 切换至“手机号换绑手机号”

按钮“邮箱”→ 点击 → 切换至“手机号换绑邮箱”
301625325120
按钮“换绑账号”→ 点击 → 完成换绑账号操作

按钮“返回”→ 点击 → 返回上一页

05.修改密码/修改体现密码/修改实名信息
3712845147891518630901479550-127001479550

06.充值页
076200
按钮“确认充值”→ 点击 → 完成充值操作

按钮“充值记录”→ 点击 → 转跳到“充值记录页”

按钮“返回”→ 点击 → 返回上一页

07.提现页
076200
按钮“全部提现”→ 点击 → 快速填写可提现的全部金额

按钮“确认提现”→ 点击 → 完成提现操作

按钮“提现记录”→ 点击 → 转跳到“充值记录页”

按钮“返回”→ 点击 → 返回上一页

08.充值/提现/交易/评价记录页
076200
横向筛选→ 点击 → 切换筛选状态

按钮“返回”→ 点击 → 返回上一页

按钮“复制”→ 点击 → 复制ID
-527051793240-26212801791970106045120015

09.收款信息页
076200
按钮“删除”→ 点击 → 删除收款信息

按钮“修改”→ 点击 → 转跳到“修改银行卡”

按钮“添加收款”→ 点击 → 转跳到“添加银行卡”

按钮“返回”→ 点击 → 返回上一页

10.修改/添加银行卡
076200
输出框“类型”→ 点击 → 弹出“类型”弹窗

按钮“修改/添加银行账户”→ 点击 → 完成“修改/添加银行卡”操作

按钮“返回”→ 点击 → 返回上一页

11.代理
076200
卡片“快速创建订单”→ 点击 → 转跳到“快速创建订单”页面

卡片“代付订单列表”→ 点击 → 转跳到“代付订单列表”页面

卡片“冻结金额”→ 点击 → 转跳到“冻结金额明细列表”页面

按钮“返回”→ 点击 → 返回上一页

12.快速创建订单页
076200
按钮“套餐”→ 点击 → 快速选择套餐类型 → 弹出“生产套餐”弹窗

按钮“返回”→ 点击 → 返回上一页

13.生成套餐弹窗
076200
按钮“价格区间”→ 点击 → 快速输入价格区间

按钮“充值”→ 点击 → 充输入的价格区间

按钮“确认”→ 点击 → 完成“生成套餐”操作

14.代付订单列表
076200
横向筛选→ 点击 → 切换筛选状态

按钮“查看详情”→ 点击 → 转跳到“产品详情页”

按钮“复制”→ 点击 → 复制订单号

按钮“返回”→ 点击 → 返回上一页

15.冻结金额明细列表
076200
按钮“查看详情”→ 点击 → 转跳到“产品详情页”

按钮“获取代付链接”→ 点击 → 复制代付链接

按钮订单号“复制”→ 点击 → 复制订单号

按钮代付ID“复制”→ 点击 → 复制代付ID

按钮“返回”→ 点击 → 返回上一页

其他
2857516941801790700169418035585401694180    
帮助中心                      公司资质              产品/服务介绍

    

2857512750801790700127508035585401275080退款政策                      用户协议                  隐私政策